@model Domain.Model.User

<form asp-controller="Home" asp-action="Edit">
    <div>
        <label asp-for="name">Name</label>
        <input asp-for="name" type="text" />
    </div>

    <div>
        <label asp-for="age">Age</label>
        <input asp-for="age" type="number" />
    </div>

    <div>
        <input type="submit" value="Изменить" />
    </div>
</form>